 <% layout("layouts/boilerplate") %>
<div class="rows">
    <div class="col-8 offset-2">
<body>
    <br>
    <h3> Add new Property </h3>
    <form method="POST" action="/listings" novalidate class="needs-validation">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="title" placeholder="Enter title" type="text" class="form-control">
        <div class="valid-feedback">Title looks good </div>
         <div class="invalid-feedback">Please enter a valid title </div>
        </div> 
         
        <div  class="mb-3">
        <label for="title" class="form-label">Description</label>
        <input name="description" textarea="Enter Description" type="text" class="form-control"required>
             <div class="valid-feedback"> ✔</div>
         <div class="invalid-feedback">Please enter full description</div>
        </div>

        <div  class="mb-3">
            <label for="title" class="form-label">Image-Link</label>
            <input name="image" placeholder="Enter Image URL/Link" type="text" class="form-control">
              <div class="valid-feedback"> ✔</div>
            <div class="invalid-feedback">Please enter Image URL</div>
        </div>


        <div class="row">
        <div  class="mb-3 col-md-4">
        <label for="title" class="form-label">Price</label>
        <input name="price" placeholder="Enter Price" type="number" class="form-control" required>
        <div class="invalid-feedback">Please enter the amount</div>
        </div>

        <div  class="mb-3 col-md-8">
        <label for="title" class="form-label">Country</label>
        <input name="country" placeholder="Enter Country" type="text" class="form-control"required>
        <div class="invalid-feedback">Please enter a valid country</div>
        </div>
        </div>
       
        
        <div  class="mb-3">
        <label for="title" class="form-label">Location</label>
        <input name="location" placeholder="Enter Description" type="text" class="form-control" required>
        <div class="invalid-feedback">Please enter a valid location</div>
        </div>
        <div class="btn-save">
            <button class="btn btn-dark"> Submit </button>
        </div>
        
    </form>
    
</body>
</div>
</div>
</html>